* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
body{
    background-color: aliceblue;
}
header{
    text-align: center;
    padding: 30px;
    margin: 50px;
    display: grid; 
}
h1,h2,p{
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: medium;
}
.box {
    border-radius: 10px;
    padding: 20px;
    max-width: 700px;
    margin: 30px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.Contact-form {
    padding: 30px;
    margin: 40px auto;
    border-radius: 10px;
    max-width: 600px;
    background-color: #f7fbfc;
}

#contact {
    justify-content: space-between;
    display: grid;
    align-items: center;
    gap: 20px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    border: 2px solid rgb(151, 185, 186);
    margin-top: 4px;
    transition: border 0.3s ease; 
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
    margin-top: 15px;
    color: #333;
}
button {
    width: 100%;
    border-radius: 6px;
    border: 2px solid rgb(151, 185, 186);
    padding: 15px;
    background-color: rgb(127, 211, 106);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(172, 218, 126);
}

footer {
    background-color: rgb(171, 197, 220);
    padding: 30px;
    text-align: center;
    font-size: 16px;
}
